
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Press+Start+2P&display=swap');
.slideAboutContainer
 {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidesAbout {
  display: grid;
  > .slideAbout {
    grid-area: 1 / -1;
    color: rgb(255, 255, 255);
  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: rgb(255, 136, 0);
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.5s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: 30%;
    }
    &:last-child {
      right: 30%;
    }
  }
}

.slideAboutContent {
  width: 20vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.6s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: flex-end;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-50deg * var(--dir)));
}

.slideAboutContentInner {
  transform-style: preserve-3d;
  transform: translateZ(9rem);
 
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem rgb(0, 0, 0);
  opacity: 0;
  margin-bottom: 0.8em;

  .slideAboutSubtitle,
  .slideAboutTitle, a {
    font-family: 'Aclonica', sans-serif;
   
    //font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    
  }



  .slideDescription {
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  }
}

.slideAbout[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideAboutBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideAboutContentInner {
    opacity: 3;
   }

  .slideAboutContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}