.aboutUsContainer{
    
    height: 70vh;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.aboutUsImgContainer{
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:cover ;
    height: 19em;
    width: 19em;
    position: relative;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.generalImgContainer{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 10px; */
}