@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font-family: 'Lobster', cursive; */


.carritoContainer{
    height: 65vh;
    width: 60%;
    min-width: 350px;
    //border: 1px solid rgb(53, 52, 52);
    margin: 1em auto;
    border-radius: 3em;
    background-color: #ffe5acce;
    position: relative;
    overflow-y: auto;
}
.carritoContainer h2{
    font-family: "Kaushan Script", cursive;
    font-size: 2em;
    color: #f13b3b;
}
.allProductsContainer{
    width: 90%;
    box-sizing: content-box;
    background: rgb(246,237,144);
    background: -moz-linear-gradient(0deg, rgba(246,237,144,1) 7%, rgba(231,173,47,1) 55%);
    background: -webkit-linear-gradient(0deg, rgba(246,237,144,1) 7%, rgba(231,173,47,1) 55%);
    background: linear-gradient(0deg, rgba(246,237,144,1) 7%, rgba(231,173,47,1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6ed90",endColorstr="#e7ad2f",GradientType=1);
    margin: 1em auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1em;
}

.cartQuantityContainer{
    display: flex;
    flex-direction: column;
    
}

.carritoImg{
    height: 5em;
    margin-right: 2em;
}
.carritoImg:hover{
    scale: 1.2;
}

.productCar{
    margin: 0.6em;
    color: #ffff;
    font-family: "Kaushan Script", cursive;
    font-size: 1.2em;
}

.productQuantity{
    margin: 5px;
    color: #ffff;
    font-family: "Lobster", cursive;
    font-size: 1.5em;
}


.removeBtnCart{
    position: absolute;
    bottom: 1em;
    left: 50em;
    margin: 10px;
    height: 3em;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 3em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: -5px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -5px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    background: none;
    border: none;
}
.removeBtnCart:hover {
    background-color: #f13b3b;
    box-shadow: 0px 7px 10px rgba(239, 239, 209, 0.4) ;
    color: #fff;
    transform: translateY(-1px);
}

.quantityBtnsCart{
    width: 3em;
    border-radius: 3em;
    margin: 1em;
    font-size: 1em;
    padding: 0.3em;
    background: none;
    border: none;
}
.quantityBtnsCart:hover{
color: #fff;
}
.quantityBtnsCart:nth-child(1):hover{
    background-color:#41f13b;
    box-shadow: 0px 7px 7px rgba(161, 161, 154, 0.4) ;
    color: #fff;
    transform: translateY(-2px);
}

.quantityBtnsCart:nth-child(2):hover{
    background-color: #f13b3b;
    box-shadow: 0px 7px 7px rgba(161, 161, 154, 0.4) ;
    color: #fff;
    transform: translateY(-2px);
}
.quantityBtnsCart:nth-child(3):hover{
    background-color: #f13b3b;
    box-shadow: 0px 7px 7px rgba(161, 161, 154, 0.4) ;
    color: #fff;
    transform: translateY(-2px);
}

.btnComprar{
    position: absolute;
    bottom: 2em;
    left: 65em;
    margin: 10px;
    height: 4em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: rgb(220, 210, 14);
    border: none;
    border-radius: 3em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    position: sticky;
}

.btnComprar:hover {
    background-color: #f13b3b;
    box-shadow: 0px 15px 20px rgba(202, 199, 32, 0.4) ;
    color: #fff;
    transform: translateY(-7px);
}

.btnNavegarMenu{
    position: absolute;
    bottom: 6%;
    left: 60%;
    // margin: 10px;
    height: 4em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: rgb(220, 210, 14);
    border: none;
    border-radius: 3em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    // position: sticky;
}

.btnNavegarMenu:hover {
    background-color: #1aff01;

    box-shadow: 0px 15px 20px rgba(202, 199, 32, 0.4) ;
    color: #fff;
    transform: translateY(-7px);
}


.quantityBtnsCart svg
{
    color: #f13b3b;
    font-size: 2em;
}

.quantityBtnsCart svg:hover
{
    color: #ffff;
    font-size: 2em;
}
.carritoVacio{
    margin: 1px auto;
    
    // position: relative;
        padding: 0.5em;
    height: 22em;
    width: 19em;
    box-sizing: border-box;
    // border: 1px solid black;
    margin: auto;
    border-radius: 25px;
    // color: white;
 
    background-image: url(../resources/carrito_vacio_fondo.jpeg);
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}



.carritoVacioHeader{
    background-color: rgba(255, 255, 227, 0.507) ;
    border-radius: 25px;
}

@media screen and (max-width: 480px){
    .carritoContainer{
        width: 300px;
        height: 500px;
        margin: 5.9em auto;
        
        // height: auto;
        // border: 1px solid red;
    }
    
    .carritoVacio{
        position: relative;
        padding: 0.5em;
        height: 22em;
        width: 19em;
        box-sizing: border-box;
        // border: 1px solid black;
        margin: auto;
        border-radius: 25px;
        
        
    }

}
