@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font-family: 'Lobster', cursive; */


.carritoContainer{
    height: 65vh;
    width: 60%;
    border: 1px solid rgb(53, 52, 52);
    margin: 1em auto;
    border-radius: 30px;
    background-color: #ffe5acce;
    position: relative;
}

.allProductsContainer{
    width: 90%;
    box-sizing: content-box;
    background-color: #F24726;
    margin: 1em auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    position: relative;
    border: 2px solid rgb(53, 52, 52);
    
}

.cartQuantityContainer{
    display: flex;
    flex-direction: column;
}

.carritoImg{
    height: 4em;
}

.productCar{
    margin: 5px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    
}

.productQuantity{
    margin: 5px;
    color: white;
    font-family: 'Lobster', cursive;
}

.removeBtnCart{
    position: absolute;
    bottom: 1em;
    left: 50em;
    margin: 10px;
    height: 3em;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -5px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -5px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
}
.removeBtnCart:hover {
    background-color: #f13b3b;
    box-shadow: 0px 7px 10px rgba(239, 239, 209, 0.4) ;
    color: #fff;
    transform: translateY(-1px);
}

.quantityBtnsCart{
    height: 2em;
    width: 3em;
    border-radius: 3em;
    margin: 1em;
    font-size: 1em  ;
}
.quantityBtnsCart:nth-child(1):hover{
    background-color: #1aff01;
    box-shadow: 0px 7px 7px rgba(161, 161, 154, 0.4) ;
    color: #fff;
    transform: translateY(-2px);
}

.quantityBtnsCart:nth-child(2):hover{
    background-color: #f13b3b;
    box-shadow: 0px 7px 7px rgba(161, 161, 154, 0.4) ;
    color: #fff;
    transform: translateY(-2px);
}

.btnComprar{
    position: absolute;
    bottom: 2em;
    left: 65em;
    margin: 10px;
    height: 4em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: rgb(220, 210, 14);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
}

.btnComprar:hover {
    background-color: #33f111;
    box-shadow: 0px 15px 20px rgba(202, 199, 32, 0.4) ;
    color: #fff;
    transform: translateY(-7px);
}

