.contactContainer{
    display:  block;
    height: 70vh;
}
.formContainer{
    display: flex;
    flex-direction: column;
}
.contatcInputForm{
    display: block;
    margin: 10px auto;
}
.contactUsImg{
    display: flex;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10em;
    left: 60em;
}