.footerContainer{
    background-color: #FFE5AC;
    text-decoration: none;
    height: 50px;
    margin: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}
.ulFooter{
    display: flex;
    margin:  auto;
}

.liFooter{
    text-decoration: none;
    list-style: none;
    margin: 10px;
}
