.storeContainer{
    border-bottom: solid;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 80vh;
}
.storeContainer td button {
    background-color:rgb(220, 210, 14);
    border-radius: 1em;
    padding: 0.7em;
    color: #ffff;
    border-color: rgb(220, 210, 14);
}

.storeContainer td button:hover {
    background-color: #1aff01;
    border-color: #159607;
    box-shadow: 0px 15px 20px rgba(136, 136, 132, 0.4);
    color: #fff;}

.tablePagination{
    background-color: #ffecb3;
}