.storeContainer{
    border-bottom: solid;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 80vh;
}

/* 
.storeContainerTable{
    border: 2px solid black;
}
.storeHeaders{
    border-left: 1px solid black;
    background-color: rgb(244, 255, 252);
}

.infoProducts{
    border-top: 2px solid rgb(159, 240, 172) ;
    border-right: 2px solid  rgb(159, 240, 172);
    // margin: 10px;
    // border: 3px solid red;
} */