<<<<<<< HEAD

=======
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
>>>>>>> b387f3eb2aeb5a40736b9bd64190c51679e8f12a

.cardsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 10px auto;
}
.mapContainer{
    display: flex;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    background-color: rgb(244, 255, 252);
    flex-flow: column;
    width: 17em;
}

.mapContainer:hover{
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
    transition: 0.2s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.homeImg{
    height: 250px;
}

.homeTitle{
    font-family: 'Kaushan Script', cursive;
    margin: 0.6em auto -1.2em auto;
    padding: 1em;
    align-items: center;
}

.mapImgContainer{
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:cover ;
    height:11em;
    width: 17em;
    position: relative;
    max-width: 312px;
    background-color: rgb(244, 255, 252);
    border-radius: 1em 1em 0em 0em ;
    padding: 1em;
}

.mapInfoContainer{
    /* margin: auto; */
    background-color: rgb(244, 255, 252);
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    
}

.mapInfoContainer>p{
    margin: 0px ;
    /* word-break: break-all; */
    margin-left: 0.5em;
    font-family: 'Lobster', cursive;
    
}
.mapInfoContainer>p:nth-child(2){
    text-align: right;
    margin-right: 0.2em;
    font-size: 1.3em;
}

.btnDetailsHome{
    position: absolute;
    bottom: .7em;
    left: 15em;
    height: 4em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: #EABB58D4;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
}

.btnDetailsHome:hover {

    background-color: #fb6101;
    box-shadow: 0px 15px 20px rgba(202, 199, 32, 0.4) ;
    color: #fff;
    transform: translateY(-7px);
}