.cardsContainer{
    /* display: block;
    overflow-x: scroll;
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: flex-start; */

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 10px auto;
}
.mapContainer{
    /* display: flex; */
    /* border: solid 1px black; */
    /* width: 35em; */
    width: 17em;
    border-radius: 20px;
    
    margin: 5px;
    margin-bottom: 20px;
    box-sizing: content-box;
    /* margin: 0 auto; */
    /* flex-direction: row ; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    
    
}

.mapContainer:hover{
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
    transition: 0.2s;
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.homeImg{
    height: 200px;
}
.homeTitle{
    margin: 1px auto 1px auto;
}
.mapImgContainer{
    /* background-color: aquamarine; */
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:cover ;
    height: 17em;
    width: 17em;
    position: relative;
    
    /* display: flex; */
    /* margin: 0 8px 24px; */
    max-width: 312px;
    background-color: rgb(244, 255, 252);
    border-radius: 1em 1em 0em 0em ;
    /* flex-direction: column; */
}

/* .mapImgContainer:hover{
    width: calc(50% - 16px);
    transform: scale(1);
    transition: transform .3s ease-in-out; 
} */
.mapInfoContainer{
    margin: auto;
    background-color: rgb(244, 255, 252);

    box-sizing: border-box;
    height: 6em;
    text-align: left;
    padding: 10px;
    /* overflow: hidden; */
}
.mapInfoContainer>p{
    margin: 0px auto;
    word-break: break-all;
    
}

.btnDetailsHome{
    position: absolute;
    top: 19em;
    left: 15em;
    height: 4em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    -webkit-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
    box-shadow: -10px 15px 10px -2px rgba(0,0,0,0.31);
}
.btnDetailsHome:hover {
    background-color: #EDA919;
    box-shadow: 0px 15px 20px rgba(202, 199, 32, 0.4) ;
    color: #fff;
    transform: translateY(-7px);
}


/* 
    contenedor tarjeta con imagen que se agrande en hover
    display: flex;
    margin: 0 8px 24px;
    max-width: 312px;
    flex-direction: column;
    width: calc(50% - 16px);
    transform: scale(1);
    transition: transform .3s ease-in-out; 
    
    */
    
    
    /* .mapImg{
        width: calc(50% - 16px);
        transform: scale(1);
        transition: transform .3s ease-in-out; 
    } */