.cardsContainer{
    /* display: block;
    overflow-x: scroll;
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: flex-start; */
    
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 10px auto;
}
.mapContainer{
    /* display: flex; */
    border: solid 1px black;
    width: 300px;
    margin: 5px;
    /* margin: 0 auto; */
    /* flex-direction: row ; */
}
.mapImgContainer{
    margin: auto;
    background-color: aquamarine;
}
.mapInfoContainer{
    margin: auto;
    background-color: rgb(223, 234, 126);
}