.headerContainer{
    background-color: #FFE5AC;
    text-decoration: none;
    height: 100px;
    margin: auto ;
    /* margin-top: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: rgba(1, 1, 1, 0.30) 2px 3px 8px;
    margin-bottom: 1em;
    justify-content: space-evenly;
    
}
.logoNavbarContainer{
    /* justify-items: start; */
    align-items: left;
}
.logoNavbar{
    height: 7em;
    /* margin: 0px; */
    margin: auto;
    filter: drop-shadow(0 2mm 1mm rgb(4, 4, 4));
}
.ulContainer{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: autos;
    
}
.navlinks{
    text-decoration: none;
    list-style: none;
    
}
.navlinks>.buttonLinks>a{
    text-decoration: none;
    list-style: none;
    color: azure;
    font-size: 1rem;
}
.buttonLinks{
    box-shadow: -3px 3px  rgb(255, 60, 0);
    border-radius: 5px;
    /* border-style: none; */
    margin: 10px;
    font-size: auto;
    box-sizing: content-box;
    width: 6em;
    background-color: #EDA919;
    height: 3em;
}
/* .buttonLinks , .navlinks>.buttonLinks>a:active{
    background-color: rgb(255, 60, 0);
    color: white;
} */
