
.globalStatusContainer{
    height: 65vh;
    width: 60%;
    min-width: 350px;
    //border: 1px solid rgb(53, 52, 52);
    margin: 2em auto;
    margin-bottom: 2em;
    border-radius: 3em;
    background-color: #ffe5acce;
    position: relative;
    overflow-y: auto;   
}

.estadoDeOrdenContainer{
    margin: auto;
    
    // position: absolute;
    // top: 50%;
    // left: 50%;
    padding: 0.5em;
    height: 14em;
    width: 13em;
    box-sizing: border-box;
    border: 1px solid black;
    // margin: auto;
    border-radius: 25px;
    box-shadow: -3px -2px 22px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px -2px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px -2px 22px 0px rgba(0,0,0,0.75);
    // color: white;
 
    background-image: url(../resources/proceso.png);
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}



.statusTitle{
    background-color: rgba(255, 255, 227, 0.507) ;
    border-radius: 25px;
    margin: 2em auto;
}

@media screen and (max-width: 480px){
    .estadoDeOrdenContainer{
        width: 300px;
        height: 500px;
        // height: auto;
        // border: 1px solid red;
    }
    
    .estadoDeOrdenContainer{
        position: relative;
        padding: 0.5em;
        height: 22em;
        width: 19em;
        box-sizing: border-box;
        // border: 1px solid black;
        margin: 1em auto;
        margin-bottom: 5em;
        border-radius: 25px;
    }

}
